.godPanel {
  border-style: solid;
  border-color: #1e2124;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.godPanel button:disabled {
  cursor: initial;
}
.godPanel button {
  font-size: 1rem;
  border: 1px solid #444;
  background-color: #333;
  color: white;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.godPanel input {
  border: 1px solid #444;
  background-color: #111;
  margin: 0 0 0 0.2rem;
  color: gainsboro;
  padding: 0.5rem;
  width: 3rem;
  line-height: 100%;
}

.godPanel .godButtonContainer {
  flex: 1 0 45%;
  margin: 0.4rem 0.4rem;
  min-width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.godPanel button.inputButton {
  padding-left: 20%;
}

@media screen and (max-width: 425px) {
  .godPanel {
    display: block;
  }
}

.godPanel select {
  border: 1px solid #444;
  padding: 0.4rem 0;
  margin: 0 0 0 0.2rem;
  width: 10rem;
}
