.godPanel {
  border-style: solid;
  border-color: #1e2124;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.godPanel button:disabled {
  cursor: initial;
}
.godPanel button {
  font-size: 1rem;
  border: 1px solid #444;
  background-color: #333;
  color: white;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.godPanel input {
  color: gainsboro;
  border: 1px solid #444;
  background-color: #111;
  margin: 0 0 0 0.2rem;
  padding: 0.5rem;
  width: 3rem;
  line-height: 100%;
}

.godPanel .godButtonContainer {
  flex: 1 0 45%;
  margin: 0.4rem 0.4rem;
  min-width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.godPanel button.inputButton {
  padding-left: 20%;
}

@media screen and (max-width: 425px) {
  .godPanel {
    display: block;
  }
}

.godPanel select {
  border: 1px solid #444;
  padding: 0.4rem 0;
  margin: 0 0 0 0.2rem;
  width: 10rem;
}

/* Hide the browser's default checkbox */
.godPanel .checkboxContainer input {
  opacity: 0;
  padding: 0.5rem;
  margin: 0 0 0 0.2rem;
  padding: 0.5rem;
  width: 3rem;
  line-height: 100%;
  cursor: pointer;
}

.godPanel .checkboxContainer {
  cursor: pointer;
  border: 1px solid #444;
  background-color: #111;
  margin: 0 0 0 0.2rem;
  padding: 0.5rem;
  width: 3rem;
  line-height: 100%;
}
.godPanel .container:hover {
  background-color: rgb(19, 19, 19);
}

/* On mouse-over, add a grey background color.godPanel  */
.godPanel .container:hover input ~ .checkmark {
  background-color: rgb(90, 90, 90);
}

/* Create the checkmark/indicator (hidden when not checked) */
.godPanel .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.godPanel .checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.godPanel .checkboxContainer .checkmark:after {
  right: 1.75rem;
  top: 0.45rem;
  width: 0.4rem;
  height: 1rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
