.selectBaseItem .table.flex {
  display: flex;
  justify-content: space-evenly;
}
.selectBaseItem .table.flex.head {
  width: 96.9%;
}
.selectBaseItem .headerWrapper {
  width: 100%;
  border-bottom: 1px solid rgb(197, 197, 170);
}

.selectBaseItem .table.data {
  min-width: 4.5rem;
  padding: 0 0.3rem;
  text-align: center;
  min-height: 1.4rem;
}
@media screen and (max-width: 610px) {
  .selectBaseItem .data.damage,
  .selectBaseItem .data.aps,
  .selectBaseItem .data.crit,
  .selectBaseItem .data.range,
  .selectBaseItem .data.range,
  .selectBaseItem .data.armour,
  .selectBaseItem .data.evasion,
  .selectBaseItem .data.energy,
  .selectBaseItem .data.img {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .selectBaseItem .table.data {
    min-width: 4rem;
    padding: 0;
  }
  .selectBaseItem .data.dps {
    display: none;
  }
}

.selectBaseItem .table.data.implicit {
  width: 66%;
  flex-grow: 4;
}
.selectBaseItem .table.data.crit {
  flex-grow: 1;
}
.selectBaseItem .table.data.range {
  flex-grow: 1;
}

.selectBaseItem .table.data.name {
  min-width: 55%;
}

.selectBaseItem .table.data.img {
  flex-grow: 1;
}
.selectBaseItem .table.flex.container1,
.selectBaseItem .table.flex.container2,
.selectBaseItem .table.flex.container3,
.selectBaseItem .table.flex.container4,
.selectBaseItem .table.flex.container5,
.selectBaseItem .table.flex.container6 {
  align-items: center;
}
.selectBaseItem .table.flex.container1 {
  width: 22%;
}

.selectBaseItem .table.flex.container2 {
  width: 78%;
  flex-direction: column;
}
.selectBaseItem .table.flex.container3 {
  width: 100%;
}
.selectBaseItem .table.flex.container4 {
  width: 100%;
}
.selectBaseItem .table.flex.container5 {
  width: 30%;
}
.selectBaseItem .table.flex.container6 {
  width: 70%;
}
.selectBaseItem .table.flex.rowGroup {
  width: 100%;
}
.categorySelection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.selected-baseItem {
  display: flex;
  border: 1px solid #1e2124;
  color: white;
  justify-content: center;
  align-items: center;
  min-height: 32px;
}

select {
  color: white;
  background-color: #1e2124;
  padding: 0.3rem 0.6rem;
  text-align-last: center;
}

.selectBaseItem {
  height: 100%;
}

.categorySelection {
  padding: 0.2rem 0;
}
.selected-baseItem,
.categorySelection {
  background-color: #141414;
}
.selectedBaseItemText {
  color: rgb(253, 253, 215);
}
.selectedBaseItemText {
  margin-left: 0.4rem;
}

.selectBaseItem .rowGroup:nth-of-type(odd) > * {
  background-color: #1e2124;
  filter: brightness(95%);
}
.selectBaseItem .rowGroup:nth-of-type(even) > * {
  background-color: #141414;
  filter: brightness(85%);
}
.selectBaseItem .rowGroup:hover > * {
  filter: brightness(100%);
}

.selectBaseItem .icon {
  height: 42px;
}

.selectBaseItem .str {
  color: #ff9fbb;
}
.selectBaseItem .dex {
  color: #bdffb2;
}
.selectBaseItem .int {
  color: #bdd8ff;
}
.selectBaseItem .implicit {
  color: gray;
}
