.itemStats {
  width: 100%;
  background-color: #0f0f0f;
  height: 100%;
}

.weaponStats .collapsibleContent {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: gray;
}

.weaponStats button.collapsible {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  color: white;
  width: 100%;
}

.itemStats .fire {
  color: #960000;
}
.itemStats .cold {
  color: #366492;
}
.itemStats .lightning {
  color: gold;
}
.itemStats .final {
  color: rgb(253, 253, 215);
}
